.popup-cover {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.popup-box {
  position: relative;
  width: 70%;
  margin: 250px auto;
  height: auto;
  background-color: #f6f6f6;
  padding: 20px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 641px) {
  .popup-box {
    width: 450px;
  }

  .popup-message, .popup-button {
    font-size: 1.25em;
  }
}